<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/question.css" />
    <script
      type="text/javascript"
      async
      src="https://tenor.com/embed.js"
    ></script>
    <script type="text/javascript" src="./javascripts/header.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <!-- question에 번호 붙이기 -->
    <form id="container" action="/question" method="GET">
      <div id="main_container">
        <div id="header"></div>
        <div id="title">
          <p>내 연애 꽃말 찾기</p>
          <p><게이지바 자리></p>
        </div>
        <div id="body">
          <div id="question">
            <span>남자친구가 꽃을 한아름 가져왔다.</span>
          </div>
          <div class="tenor-gif-embed" data-postid="20263218"></div>
          <button
            class="btn btn-primary"
            type="button"
            onClick="location.href='./question4'"
          >
            "이게 뭐야!" 깜짝 놀래며 좋아서 방방뛴다
          </button>
          <button
            class="btn btn-primary"
            type="button"
            onClick="location.href='./question4'"
          >
            "오늘 무슨 날인가?" 속으로 생각하며 고맙게 받는다
          </button>
        </div>
        <div id="footer">
          <p>Copyright 2023. 늘연 co. all rights reserved.</p>
        </div>
      </div>
    </form>
  </body>
</html>
