<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/question.css" />
    <script
      type="text/javascript"
      async
      src="https://tenor.com/embed.js"
    ></script>
    <script type="text/javascript" src="./javascripts/header.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <!-- question에 번호 붙이기 -->
    <form id="container" action="/question" method="GET">
      <div id="main_container">
        <div id="header"></div>
        <div id="title">
          <p>내 연애 꽃말 찾기</p>
          <p><게이지바 자리></p>
        </div>
        <div id="body">
          <div id="question">
            <span
              >과로로 쓰러져 병원에 입원했다. <br />친구는 무슨 꽃을
              사왔을까?</span
            >
          </div>
          <div class="tenor-gif-embed" data-postid="20263218"></div>
          <button
            class="btn btn-primary"
            type="button"
            onClick="location.href='./result'"
          >
            분혹색의 데이지 한송이
          </button>
          <button
            class="btn btn-primary"
            type="button"
            onClick="location.href='./result'"
          >
            여러 꽃이 섞여있는 큰 꽃다발
          </button>
        </div>
        <div id="footer">
          <p>Copyright 2023. 늘연 co. all rights reserved.</p>
        </div>
      </div>
    </form>
  </body>
</html>
