<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/question.css" />
    <script
      type="text/javascript"
      async
      src="https://tenor.com/embed.js"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <!-- question에 번호 붙이기 -->
    <form id="container" action="/question" method="GET">
      <div id="main_container">
        <div id="header">
          <img class="h_icon_left" src="./images/menu-pink.png" />
          <img
            id="linkedin"
            class="h_icon_right"
            src="./images/linkedin-pink.png"
          />
          <img class="h_icon_right" src="./images/github-pink.png" />
          <div id="header_box">
            <img id="lotus" src="./images/lotus-pink.png" />
            <p>늘연</p>
          </div>
        </div>
        <div id="title">
          <p>내 연애 꽃말 찾기</p>
          <p><게이지바 자리></p>
        </div>
        <div id="body">
          <div id="question">
            <span>길을 걸어가다 우연히 예쁜 꽃을 보았다.</span>
          </div>
          <div class="tenor-gif-embed" data-postid="20263218"></div>
          <button class="btn btn-primary" type="submit">
            "너무 예뻐!!!!" 난리치며 인스타에 업로드한다. (찰칵)
          </button>
          <button class="btn btn-primary" type="submit">
            "예쁘네" 생각만하고 지나간다.
          </button>
        </div>
        <div id="footer">
          <p>Copyright 2023. 늘연 co. all rights reserved.</p>
        </div>
      </div>
    </form>
  </body>
</html>
