@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'TAEBAEKmilkyway', 'sans-serif';
}

#container {
  background-color: rgb(255, 218, 224);
}

#header {
  width: 100%;
  height: 50px;
  background-color: white;
  border: #f05e85 solid 3px;
  border-style: double;
  border-radius: 50px;
}

#header_box {
  display: flex;
  justify-content: center;
}

#header #lotus {
  margin: auto;
  width: 30px;
  height: 30px;
}

#header_box a {
  display: inline;
  margin: 10px 2px;
  font-size: 30px;
  font-weight: bolder;
  color: #f05e85;
  /* font-family: 'PyeongChangPeace-Bold'; */
}

#header #h_icon_left {
  margin: 10px 15px;
  width: 30px;
  height: 30px;
  float: left;
}

#header #linkedIn,
#gitHub {
  margin: 10px 5px;
  width: 30px;
  height: 30px;
  float: right;
}

#header #linkedIn {
  margin-right: 15px;
}

#main_container {
  margin: auto;
  width: 500px;
  height: 100vh;
  background-color: #ffdae0;
  /* border: solid gray 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#title p {
  font-size: 17px;
  margin: 10px;
}

#body {
  margin: 30px auto;
  text-align: center;
}

#body #question span {
  /* margin-bottom: 30px; */
  padding: 15px;
  font-size: 25px;
  font-weight: bolder;
  background-color: lightpink;
}

#body .tenor-gif-embed {
  margin: 30px auto;
  width: 350px;
  height: 350px;
}

button {
  margin: 5px;
  font-size: 15px;
  font-weight: bolder;
  padding: 20px 20px;
  background-color: #f05e85;
  border-radius: 50px;
  width: 430px;
}

#footer {
  display: flex;
  margin: 20px auto;
  /* position: absolute;
  bottom: 0; */
  color: gray;
}
